<!-- 
	Hi!! If you find this comment maybe:
	a) Your're making me an interview: So please, don't destroy me, I promise you I am a good man :-)
	b) You're a freak: Me too! If you have some suggestions, please contact me!
	c) You don't know: Well... You should know that this web is only a proto. You maybe find some issues!
-->
<div class="main-page">
	<div id="first" class="home-row">
		<div class="center">
			<div class="container">
				<h1 class="superb-title">Manage your bugs easily</h1>
				<p class="superb-subtitle">Forget strange and weird forms. Just add and assign. Make it simple!</p>
				<div class="cta">
					<a class="cta-btn" href="<%= login_url %>">Log in</a>
					<a class="cta-btn" href="<%= new_user_url %>">Sign up!</a>
				</div>
			</div>
		</div>
	</div>
	<div class="separator-block">&nbsp;</div>
	<div id="second" class="home-row">
		
		<div class="center">
			<div class="container">
				<h2 class="speech">"A powerful tool. And it's free!"</h2>
				<p class="speech-footer">James McCourtney, startup lead dev.</p>
			</div>
		</div>
	</div>
	<div class="separator-block">&nbsp;</div>
	<div id="third" class="home-row">
		<div class="center">
			<div class="container">
				<h2>Why DeWorm is so cool:</h2>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check"></i>Unlimited projects</li>
					<li><i class="fa-li fa fa-check"></i>Unlimited bugs</li>
					<li><i class="fa-li fa fa-check"></i>Unlimited bug attachments</li>
					<li><i class="fa-li fa fa-check"></i>Unlimited users</li>
					<li><i class="fa-li fa fa-check"></i>Minimalistic look &amp; feel</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="fourth" class="home-row">
		<div class="center">
			<div class="container">
				<h2>Some people is happy with us</h2>
				<div class="gallery">
					<div class="img">
						<%= image_tag "summit_bank.jpg", :class=>"desaturate"%>
					</div>
					<div class="img">
						<%= image_tag "newnet.png", :class=>"desaturate"%>
					</div>
					<div class="img">
						<%= image_tag "global_solutions.jpg", :class=>"desaturate"%>
					</div>
					<div class="img">
						<%= image_tag "northstar_logo.jpg", :class=>"desaturate"%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>