<h1>Listing bugs</h1>

<table>
  <thead>
    <tr>
      <th>Priority</th>
      <th>Severity</th>
      <th>Status</th>
      <th>Resolution</th>
      <th>Version planned</th>
      <th>Version solved</th>
      <th>Summary</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bugs.each do |bug| %>
      <tr>
        <td><%= bug.priority %></td>
        <td><%= bug.severity %></td>
        <td><%= bug.status %></td>
        <td><%= bug.resolution %></td>
        <td><%= bug.version_planned %></td>
        <td><%= bug.version_solved %></td>
        <td><%= bug.summary %></td>
        <td><%= bug.description %></td>
        <td><%= link_to 'Show', bug %></td>
        <td><%= link_to 'Edit', edit_bug_path(bug) %></td>
        <td><%= link_to 'Destroy', bug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bug', new_bug_path %>
